.u-section-1 {
    background-position: 50% 50%;
    background-image: url("../assets/img/pexels-photo-3136673.jpeg");
}

.u-section-1 .u-sheet-1 {
    min-height: 711px;
    margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
    min-height: 611px;
    width: 800px;
    height: auto;
    margin: 50px auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 20px 60px;
}

.u-section-1 .u-text-1 {
    margin: 57px 1px 0 0;
}

.u-section-1 .u-form-1 {
    height: 201px;
    width: 679px;
    margin: 149px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 586px;
        margin-left: calc(((100% - 940px) / 2));
        margin-right: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 449px;
        margin-left: calc(((100% - 720px) / 2));
        margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-group-1 {
        width: 720px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-form-1 {
        width: 660px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 337px;
        margin-left: calc(((100% - 540px) / 2));
        margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-group-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-form-1 {
        width: 520px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 212px;
        margin-left: calc(((100% - 340px) / 2));
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-group-1 {
        width: 340px;
    }

    .u-section-1 .u-form-1 {
        width: 320px;
    }
}