.u-section-1 {
  min-height: 703px;
}

.u-section-1 .u-gallery-1 {
  height: 703px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}.u-section-2 .u-sheet-1 {
   min-height: 409px;
 }

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -305px auto 0 -26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 721px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  text-decoration: underline !important;
  margin: 341px 39px 0 5px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 721px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 4px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 341px 11px 0 332px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -300px 323px 0 0;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-16 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 58px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 64px;
    margin-right: 0;
    margin-left: 223px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 176px;
    margin-left: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 291px;
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 164px;
    margin-left: 91px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -84px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 64px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 344px;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 164px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -84px;
    margin-right: 0;
  }
}.u-section-3 {
   background-image: none;
 }

.u-section-3 .u-sheet-1 {
  min-height: 693px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  font-size: 1.25rem;
  font-style: italic;
  margin: 83px 169px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 169px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 15px 169px 0;
}

.u-section-3 .u-list-1 {
  min-height: 245px;
  grid-template-rows: auto;
  width: 1140px;
  margin: 15px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px 118px 0 20px;
}

.u-section-3 .u-text-5 {
  margin: -64px 0 0 151px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px 118px 0 20px;
}

.u-section-3 .u-text-7 {
  margin: -64px 0 0 151px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 46px 118px 0 20px;
}

.u-section-3 .u-text-9 {
  margin: -64px 0 0 151px;
}

.u-section-3 .u-image-1 {
  width: 268px;
  height: 208px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 280px;
  height: 208px;
  margin: -205px auto 0 268px;
}

.u-section-3 .u-image-3 {
  width: 294px;
  height: 208px;
  margin: -208px 299px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 299px;
  height: 208px;
  margin: -211px 0 3px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-text-1 {
    width: 802px;
  }

  .u-section-3 .u-text-2 {
    width: 802px;
  }

  .u-section-3 .u-text-3 {
    width: 802px;
    margin-top: -42px;
  }

  .u-section-3 .u-list-1 {
    min-height: 202px;
    height: auto;
    width: 940px;
    margin-top: 111px;
    margin-left: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 373px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 294px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-top: 362px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-3 .u-list-1 {
    min-height: 464px;
    width: 720px;
    margin-top: -293px;
    margin-left: 210px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-3 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 130px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 210px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 152px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-top: -36px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    margin-top: 580px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1044px;
    width: 540px;
    margin-top: -510px;
    margin-left: 300px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 220px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 260px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 300px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: -32px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 470px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-3 .u-list-1 {
    min-height: 657px;
    width: 340px;
    margin-top: -474px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 320px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -294px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 334px;
    margin-right: auto;
    margin-left: 400px;
  }
}.u-section-4 .u-sheet-1 {
   min-height: 506px;
 }

.u-section-4 .u-list-1 {
  min-height: 436px;
  grid-template-rows: auto;
  margin: 35px auto 35px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 49px;
  width: 49px;
  margin: 20px 118px 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 79px 0 100px;
}

.u-section-4 .u-text-3 {
  margin: 20px 79px 0 66px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 49px;
  width: 49px;
  margin: 20px 118px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 43px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 27px 79px 0 100px;
}

.u-section-4 .u-text-6 {
  margin: 20px 79px 0 66px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 49px;
  width: 49px;
  margin: 20px 118px 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 43px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 27px 79px 0 100px;
}

.u-section-4 .u-text-9 {
  margin: 20px 79px 0 66px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-list-1 {
    min-height: 359px;
    height: auto;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 114px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 114px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    width: 114px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-4 .u-list-1 {
    min-height: 825px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(66.66% - 3.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1931px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}.u-section-5 {
   background-image: none;
 }

.u-section-5 .u-sheet-1 {
  min-height: 166px;
}

.u-section-5 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: 58px auto 0 21px;
}

.u-section-5 .u-text-1 {
  margin: -43px 825px 0 72px;
}

.u-section-5 .u-icon-2 {
  height: 43px;
  width: 43px;
  margin: -54px auto 0 415px;
}

.u-section-5 .u-text-2 {
  margin: -43px 528px 0 466px;
}

.u-section-5 .u-icon-3 {
  height: 43px;
  width: 43px;
  color: rgb(255, 255, 255) !important;
  margin: -43px 386px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -46px 100px 54px 770px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 697px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 428px;
    margin-left: 366px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -47px;
    margin-right: 0;
    margin-left: 670px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 477px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 318px;
    margin-left: 256px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 297px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 228px;
    margin-left: 166px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 297px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 128px;
    margin-left: 66px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 297px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 70px;
  }
}