<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<!------ Include the above in your HEAD tag ---------->
<div style="margin: 80px">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" th:href="@{/}">Home</a></li>
        </ol>
    </nav>
    <!--/Breadcrumb -->
    <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <form id="tab"th:fragment="customer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${customer}" method="post">
                    <label>Email</label>
                    <label>
                        <input type="text" th:field="*{user.userCredentials.email}" class="input-xlarge">
                    </label>
                    <label class="error" th:errors="*{user.userCredentials.email}">Wrong email/Duplicate email</label>
                    <br>
                    <label>Confirm Email</label>
                    <label>
                        <input type="text" th:field="*{user.userCredentials.confirmEmail}" class="input-xlarge">
                    </label>
                    <label class="error" th:errors="*{user.userCredentials.confirmEmail}">Wrong email/Duplicate email</label>
                    <br>
                    <label>Password</label>
                    <label>
                        <input type="password" class="input-xlarge" th:field="*{user.userCredentials.password}" value="FakePSW">
                    </label><br>
                    <label>
                        <input type="checkbox" onclick="myFunction()">
                    </label> Show Password <br><br>
                    <label>Confirm Password</label>
                    <label for="myInput"></label><input type="password" class="input-xlarge" th:field="*{user.userCredentials.confirmPassword}" value="FakePSW" id="myInput"><br>
                    <label>
                        <input type="checkbox" onclick="myFunction()">
                    </label> Show Password <br><br>
                    <label>First Name</label>
                    <label>
                        <input type="text" th:field="*{user.firstName}" value="John" class="input-xlarge">
                    </label>
                    <label>Last Name</label>
                    <label>
                        <input type="text" th:field="*{user.lastName}" value="Smith" class="input-xlarge">
                    </label>
                    <label>Phone</label>
                    <label>
                        <input type="text" th:field="*{user.phone}" value="Smith" class="input-xlarge">
                    </label>
                    <label class="error" th:errors="*{user.phone}">Wrong phone/Duplicate email</label>
                    <div>
                        <button class="btn btn-primary" th:class="submit-btn">Update</button>
                    </div>
                </form>


            </div>
            <div class="tab-pane fade" id="profile">
                <form id="tab2">
                    <label>New Password</label>
                    <input type="password" class="input-xlarge">
                    <div>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>