<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="../static/css/invoice.css" th:href="@{/css/invoice.css}">
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
</head>
<body>
<header>
    <h1>Invoice</h1>
    <address contenteditable>
        <p>bul. Primorski 7</p>
        <p>Varna, Bulgaria</p>
        <p>(800) 555-1234</p>
    </address>
<!--    <span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>-->
</header>
<article>
    <h1>Recipient</h1>
    <br><br>
    <div th:text="${visitEntity.vehicle.customer.getUser().getFullName()}"></div>
    <br/>
    <div th:text="${visitEntity.vehicle.customer.user.userCredentials.email}"></div>
    <br/>
    <div th:text="${visitEntity.vehicle.customer.user.phone}"></div>
    <table class="meta">
        <tr>
            <th><span contenteditable>Invoice #</span></th>
            <td><span contenteditable th:text="${visitEntity.id}">101138</span></td>
        </tr>
        <tr>
            <th><span contenteditable>Date</span></th>
            <td><span contenteditable th:text="${visitEntity.date}">2021-04-10</span></td>
        </tr>
        <tr>
            <th><span contenteditable>Amount Due</span></th>
            <td><span id="prefix" contenteditable th:text="${currency}">$</span> <span th:text="${visitEntity.totalPrice}">600.00</span></td>
        </tr>
    </table>
    <table class="inventory">
        <thead>
        <tr>
            <th><span contenteditable>Service</span></th>
            <!--<th><span contenteditable>Description</span></th>
            <th><span contenteditable>Rate</span></th>
            <th><span contenteditable>Quantity</span></th>-->
            <th><span contenteditable>Price</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${services}">
            <td><a class="cut">-</a><span contenteditable th:text="${service.name}">Check tires</span></td>
            <td><span th:text="${currency}"></span> <span contenteditable th:text="${service.price}">150.00</span></td>

        </tr>
        </tbody>
    </table>
    <table class="balance">
        <tr>
            <th><span contenteditable>Total</span></th>
            <td><span data-prefix th:text="${currency}">$</span> <span th:text="${visitEntity.totalPrice}">600.00</span></td>
        </tr>
        <!--<tr>
            <th><span contenteditable>Amount Paid</span></th>
            <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
        </tr>-->
       <!-- <tr>
            <th><span contenteditable>Balance Due</span></th>
            <td><span data-prefix>$</span><span>600.00</span></td>
        </tr>-->
    </table>
</article>
<aside>
    <h1><span contenteditable>Additional Notes</span></h1>
    <div contenteditable>
        <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
    </div>
</aside>
</body>
</html>