<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login/Sign up</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery2.js" th:href="@{/js/jquery2.js}" defer=""></script>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
            </div>
            <div class="social-icons">
                <img src="../static/assets/img/fb.png" th:src="@{assets/img/fb.png}">
                <img src="../static/assets/img/tw.png" th:src="@{assets/img/tw.png}">
                <img src="../static/assets/img/gp.png" th:src="@{assets/img/gp.png}">
            </div>
            <form id = "login" class="input-group" th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.</div>
                </div>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control input-field" autofocus="autofocus" placeholder="Username" />
                </div>
                <div class="form-group">
                     <input type="password" id="password" name="password" class="form-control input-field" placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary submit-btn" value="Log In" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span><a href="/" th:href="@{/forgot_password}">Forgot Password
								here</a></span>
            </div>
        </div>
    </div>

    <!--<input type="checkbox" class="check-box"><span>Remember Password</span>-->
</body>
</html>