<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" , xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="QUICK CONTACT">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/test.css}" media="screen">
    <link rel="stylesheet" href="../static/css/cards.css" th:href="@{/css/cards.css}" media="screen">
    <link rel="stylesheet" href="../static/css/services.css" th:href="@{/css/services.css}" media="screen">
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}" media="screen">
<!--    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}" media="screen">-->
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png"
    }</script>
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="old-index.html">
    <meta property="og:url" content="index.html">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="old-index.html">
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
<header class="u-clearfix u-grey-50 u-header u-header" id="sec-d47d">
    <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <a href="https://nicepage.com" th:href="@{https://nicepage.com}" class="u-image u-logo u-image-1"
       data-image-width="80" data-image-height="40">
        <img src="../static/assets/img/default-logo.png" th:src="@{assets/img/default-logo.png}"
             class="u-logo-image u-logo-image-1" data-image-width="75">
    </a>
    <form action="#"
          class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
        <button class="u-search-button" type="submit">
          <span class="u-search-icon u-spacing-10">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 th:href="@{http://www.w3.org/1999/xlink}"
                 version="1.1"
                 id="svg-0092" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                 style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
        </button>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                           preserveAspectRatio="xMidYMin slice"
                                                                                           viewBox="0 0 112 112"
                                                                                           style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8549"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-8549"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                          preserveAspectRatio="xMidYMin slice"
                                                                                          viewBox="0 0 112 112"
                                                                                          style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-31a6"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-31a6"><circle
                fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 112 112"
                                                                                            style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2561"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-2561"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
    </div>
    <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 30px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                     xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                        y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="old-index.html" th:href="@{/}" style="padding: 10px 38px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="#sec-86d9" style="padding: 10px 38px;">About</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        style="padding: 10px 38px;" href="#sec-f12a">Services</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="contact.html" th:href="@{/contact}" style="padding: 10px 38px;">Contact</a>
                </li>
                <li class="u-nav-item" sec:authorize="!isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/login}" style="padding: 10px 38px;">Login</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('EMPLOYEE')">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/activities}" style="padding: 10px 38px;">Activities</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/logout}" style="padding: 10px 38px;">Logout</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="old-index.html"
                                                  style="padding: 10px 38px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                  style="padding: 10px 38px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                  style="padding: 10px 38px;">Services</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
<section class="u-align-left u-clearfix u-section-1" id="sec-ea08">
    <div class="u-carousel u-expanded-width u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-none u-gallery-1"
         data-interval="5000" data-u-ride="carousel" id="carousel-0def">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-0def" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-0def" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-0def" data-u-slide-to="2" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
        </ol>
        <div class="u-carousel-inner u-gallery-inner" role="listbox">
            <div class="u-active u-carousel-item u-gallery-item">
                <div class="u-back-slide" data-image-width="1539" data-image-height="626">
                    <img class="u-back-image u-expanded" src="../static/assets/img/image-1.jpg">
                </div>
                <div class="u-over-slide u-over-slide-1">
                    <h3 class="u-gallery-heading">Sample Title</h3>
                    <p class="u-gallery-text">Sample Text</p>
                </div>
            </div>
            <div class="u-carousel-item u-gallery-item">
                <div class="u-back-slide" data-image-width="1539" data-image-height="626">
                    <img class="u-back-image u-expanded" src="../static/assets/img/image-2.jpg">
                </div>
                <div class="u-over-slide u-over-slide-2">
                    <h3 class="u-gallery-heading">Sample Title</h3>
                    <p class="u-gallery-text">Sample Text</p>
                </div>
            </div>
            <div class="u-carousel-item u-gallery-item" data-image-width="1539" data-image-height="626">
                <div class="u-back-slide">
                    <img class="u-back-image u-expanded" src="../static/assets/img/image-3.jpg">
                </div>
                <div class="u-over-slide u-over-slide-3">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
           href="#carousel-0def" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
            <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
           href="#carousel-0def" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
            <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
        </a>
    </div>
</section>
<body-custom>
    <div class="container-cards">
        <div class="box">
            <h2>01</h2>
            <h3>Preventative Maintenance</h3>
            <p>We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for
                you!
                You don’t have to be an expert to do car maintenance!.</p>
        </div>
        <div class="box">
            <h2>02</h2>
            <h3>Common Repairs</h3>
            <p>Each repair project puts before us a number of unique tasks, the solution of which will help to achieve
                the highest results!
                We do all kinds of repairing works!.</p>
        </div>
        <div class="box">
            <h2>03</h2>
            <h3>TRANSMISSION
                REPAIR</h3>
            <p>We’re one of the most trusted experts in the diagnosis, service and maintenance of transmissions.
                We perform all the works and give a warranty on them!.</p>
        </div>
    </div>
</body-custom>
<!--Our services section-->
<section class="u-clearfix u-grey-5 u-section-1" id="sec-f12a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-24 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h5 class="u-text u-text-1">BELOW ARE SOME <span style="font-weight: 700;">
                      <span style="font-weight: 400;">OF</span>
                      <br>
                      <br>THE MANY AUTO REPAIR SERVICES WE OFFER:
                    </span>
                            </h5>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-36 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <ul class="u-custom-list u-text u-text-2">
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Starting and Charging Repair
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Wheel Alignment<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    CV Axles<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Computer Diagnostic Testing<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Vehicle Preventative Maintenance<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    State Emissions Inspection<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Emission Repair Facility<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Tune Up<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Oil Change<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Brake Job / Brake Service<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Engine Cooling System Flush &amp; Repair<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-1">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Steering and Suspension Work<br>
                                </li>
                            </ul>
                            <ul class="u-custom-list u-text u-text-3">
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    FREE Loaner Cars<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    FREE Shuttle Service<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    General Auto Repair &amp; Maintenance<br><i></i>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-16">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </li>
                                <li>General Auto Repair &amp; Maintenance<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Manufacturer Recommended Service<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Brake Repair and Replacement<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Air Conditioning A/C Repair<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Tire Repair and Replacement<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Fuel System Repair<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Exhaust System Repair<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Engine Cooling System Maintenance<br>
                                </li>
                                <li>
                                    <div class="u-list-icon u-list-icon-13">
                                        <svg class="u-svg-content" viewBox="0 0 416.006 416.006" id="svg-02fc">
                                            <path d="m410.406 195.843-224-192c-2.88-2.496-6.592-3.84-10.4-3.84h-160c-6.688 0-12.672 4.16-15.008 10.464-2.336 6.272-.48 13.344 4.608 17.696l209.824 179.84-209.824 179.84c-5.088 4.384-6.912 11.424-4.608 17.728 2.336 6.272 8.32 10.432 15.008 10.432h160c3.808 0 7.52-1.376 10.4-3.84l224-192.032c3.584-3.04 5.6-7.456 5.6-12.128s-2.016-9.12-5.6-12.16z"
                                                  fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    Electrical Diagnostics
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About us-->
<section class="u-align-center u-clearfix u-grey-90 u-valign-bottom u-section-2" id="sec-86d9">
    <p style="text-align:center;">SOME STATISTICS ABOUT US</p>
    <h3 style="text-align:center;">AUTO REPAIR TECHNICAL STATISTICS</h3>
    <h3 class="u-text u-text-3">YOU MUST KNOW</h3>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <h1 class="u-text u-text-palette-3-base u-title u-text-4" data-animation-name="counter"
                        data-animation-event="scroll" data-animation-duration="3000">10</h1>
                    <p class="u-text u-text-grey-15 u-text-5">Years of&nbsp;<br>
                        <span style="font-weight: 700;">Experience</span>
                    </p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <h1 class="u-text u-text-palette-3-base u-title u-text-6" data-animation-name="counter"
                        data-animation-event="scroll" data-animation-duration="3000">37</h1>
                    <p class="u-text u-text-grey-15 u-text-7">TECHNICIANS &amp;<br>
                        <span style="font-weight: 700;">WORKERS</span>
                    </p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <h1 class="u-text u-text-palette-3-base u-title u-text-8" data-animation-name="counter"
                        data-animation-event="scroll" data-animation-duration="3000">25</h1>
                    <p class="u-text u-text-grey-15 u-text-9">SATISFIED<br>
                        <span style="font-weight: 700;">CUSTOMERS</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="../static/assets/img/carrepair-img-7.jpg" th:src="@{/assets/img/carrepair-img-7.jpg}" alt=""
         class="u-image u-image-default u-image-1" data-image-width="690" data-image-height="565">
    <img src="../static/assets/img/carrepair-img-10.jpg" th:src="@{/assets/img/carrepair-img-10.jpg}" alt=""
         class="u-image u-image-default u-image-2" data-image-width="690" data-image-height="565">
    <img src="../static/assets/img/slide1-thumb.jpg" th:src="@{/assets/img/slide1-thumb.jpg}" alt=""
         class="u-image u-image-default u-image-3" data-image-width="714" data-image-height="430">
    <img src="../static/assets/img/carrepair-img-8.jpg" th:src="@{/assets/img/carrepair-img-8.jpg}" alt=""
         class="u-image u-image-default u-image-4" data-image-width="690" data-image-height="565">
</section>
<!-- Our clients -->
<section class="u-align-center u-clearfix u-grey-5 u-section-3" id="sec-78b8">
    <br><br>
    <h2 class="notbold">WHAT OUR <span><b>CLIENTS SAY</b></span></h2>
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-1"><span
                            class="u-icon u-icon-circle u-text-grey-25 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.044 508.044" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fbc6"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" id="svg-fbc6"
                 style="enable-background:new 0 0 508.044 508.044;"><g><g><path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path><path
                    d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
</g>
</g></svg>
          </span>
                        <p class="u-text u-text-1">I had a pre-purchase inspection on a Mazda. I was looking to buy it
                            and they let me bring it in on a Saturday with no appoint. Great guys! I recommend this
                            service to everyone who looks for quality!</p>
                        <h5 class="u-text u-text-2">William Hill</h5>
                        <h6 class="u-text u-text-3">26 January, 2021</h6>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-2"><span
                            class="u-icon u-icon-circle u-text-grey-25 u-icon-2">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.044 508.044" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fbc6"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" id="svg-fbc6"
                 style="enable-background:new 0 0 508.044 508.044;"><g><g><path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path><path
                    d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
</g>
</g></svg>
          </span>
                        <p class="u-text u-text-4">I do oil changes regularly here, as the car needs the oil changed in
                            order to work properly. The workers are polite and they really know what they do. I'm also
                            satisfied with the prices here!</p>
                        <h5 class="u-text u-text-5">Brian Murdoch</h5>
                        <h6 class="u-text u-text-6">16 April, 2021</h6>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-3"><span
                            class="u-icon u-icon-circle u-text-grey-25 u-icon-3">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.044 508.044" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fbc6"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" id="svg-fbc6"
                 style="enable-background:new 0 0 508.044 508.044;"><g><g><path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path><path
                    d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
</g>
</g></svg>
          </span>
                        <p class="u-text u-text-7">I had a fuel injection issue, and that's why I turned to this
                            service! They fixed everything and even washed my car for free! I’m glad that I went there,
                            the people working there also gave me warranty.</p>
                        <h5 class="u-text u-text-8">Richard Smith</h5>
                        <h6 class="u-text u-text-9">17 April, 2021</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="carousel_92fb">
    <div class="u-clearfix u-sheet u-sheet-1"><span class="u-icon u-icon-circle u-icon-1"><svg class="u-svg-link"
                                                                                               preserveAspectRatio="xMidYMin slice"
                                                                                               viewBox="-61 0 512 512"
                                                                                               style=""><use
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7556"></use></svg><svg class="u-svg-content"
                                                                                               viewBox="-61 0 512 512"
                                                                                               id="svg-7556"><path
            d="m210 135h-30v45h-45v30h45v45h30v-45h45v-30h-45zm0 0"></path><path
            d="m195 60c-74.4375 0-135 60.5625-135 135s60.5625 135 135 135 135-60.5625 135-135-60.5625-135-135-135zm0 240c-57.898438 0-105-47.101562-105-105s47.101562-105 105-105 105 47.101562 105 105-47.101562 105-105 105zm0 0"></path><path
            d="m195 0c-107.523438 0-195 87.476562-195 195 0 43.886719 14.238281 85.332031 41.183594 119.859375l153.816406 197.140625 153.816406-197.144531c26.945313-34.523438 41.183594-75.96875 41.183594-119.855469 0-107.523438-87.476562-195-195-195zm130.164062 296.402344-130.164062 166.828125-130.164062-166.828125c-22.789063-29.203125-34.835938-64.265625-34.835938-101.402344 0-90.980469 74.019531-165 165-165s165 74.019531 165 165c0 37.136719-12.046875 72.199219-34.835938 101.402344zm0 0"></path></svg></span>
        <p class="u-align-left u-text u-text-1">ADDRESS:&nbsp;&nbsp;<br>Bul. Primorski 7 Varna, Bulgaria
        </p><span class="u-icon u-icon-circle u-text-white u-icon-2"><svg class="u-svg-link"
                                                                          preserveAspectRatio="xMidYMin slice"
                                                                          viewBox="0 0 513.64 513.64" style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2d6c"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 513.64 513.64"
                                                                                                   x="0px" y="0px"
                                                                                                   id="svg-2d6c"
                                                                                                   style="enable-background:new 0 0 513.64 513.64;"><g><g><path
                d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72    c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68    c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44    l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path>
</g>
</g></svg></span>
        <p class="u-align-left u-text u-text-2">PHONE:<br>+359 888 999 000
        </p><span class="u-icon u-icon-circle u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                             viewBox="0 0 559.98 559.98" style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7760"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 559.98 559.98"
                                                                                                   x="0px" y="0px"
                                                                                                   id="svg-7760"
                                                                                                   style="enable-background:new 0 0 559.98 559.98;"><g><g><path
                d="M279.99,0C125.601,0,0,125.601,0,279.99c0,154.39,125.601,279.99,279.99,279.99c154.39,0,279.99-125.601,279.99-279.99    C559.98,125.601,434.38,0,279.99,0z M279.99,498.78c-120.644,0-218.79-98.146-218.79-218.79    c0-120.638,98.146-218.79,218.79-218.79s218.79,98.152,218.79,218.79C498.78,400.634,400.634,498.78,279.99,498.78z"></path><path
                d="M304.226,280.326V162.976c0-13.103-10.618-23.721-23.716-23.721c-13.102,0-23.721,10.618-23.721,23.721v124.928    c0,0.373,0.092,0.723,0.11,1.096c-0.312,6.45,1.91,12.999,6.836,17.926l88.343,88.336c9.266,9.266,24.284,9.266,33.543,0    c9.26-9.266,9.266-24.284,0-33.544L304.226,280.326z"></path>
</g>
</g></svg></span>
        <p class="u-align-left u-text u-text-3">WORKING TIME:<br>MONDAY–SATURDAY:08:00-18:00;
        </p>
    </div>
</section>
<!--<section class="u-clearfix u-grey-66 u-section-8" id="carousel_9254">-->
<!--    <div class="u-clearfix u-sheet u-sheet-1">-->
<!--        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">-->
<!--            <div class="u-layout">-->
<!--                <div class="u-layout-row">-->
<!--                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">-->
<!--                        <div class="u-container-layout u-container-layout-1">-->
<!--                            <h5 class="u-text u-text-1">Ready to talk?</h5>-->
<!--                            <h2 class="u-text u-text-2">Contact Us</h2>-->
<!--                            <p class="u-text u-text-3">Massa tempor nec feugiat nisl pretium fusce id velit. Accumsan-->
<!--                                tortor posuere ac ut. Aenean pharetra magna ac placerat vestibulum lectus. Praesent-->
<!--                                semper feugiat nibh sed pulvinar. Lorem sed risus ultricies tristique.&nbsp;<br>-->
<!--                                <br>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Amet dictum sit amet-->
<!--                                justo donec enim diam vulputate. Ut morbi tincidunt augue interdum velit euismod in-->
<!--                                pellentesque. Volutpat lacus laoreet non curabitur.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">-->
<!--                        <div class="u-container-layout u-valign-top u-container-layout-2">-->
<!--                            <div class="u-form u-form-1">-->
<!--                                <form action="#" method="POST"-->
<!--                                      class="u-block-b9df-12 u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"-->
<!--                                      source="custom">&lt;!&ndash; hidden inputs for siteId and pageId &ndash;&gt;-->
<!--                                    <div class="u-form-group u-form-name">-->
<!--                                        <label for="name-f798" class="u-form-control-hidden u-label">Name</label>-->
<!--                                        <input type="text" placeholder="Enter your Name" id="name-f798" name="name"-->
<!--                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"-->
<!--                                               required="">-->
<!--                                    </div>&lt;!&ndash; always visible &ndash;&gt;-->
<!--                                    <div class="u-form-email u-form-group">-->
<!--                                        <label for="email-f798" class="u-form-control-hidden u-label">Email</label>-->
<!--                                        <input type="email" placeholder="Enter a valid email address" id="email-f798"-->
<!--                                               name="email"-->
<!--                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"-->
<!--                                               required="">-->
<!--                                    </div>-->
<!--                                    <div class="u-form-group u-form-message">-->
<!--                                        <label for="message-f798" class="u-form-control-hidden u-label">Message</label>-->
<!--                                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-f798"-->
<!--                                                  name="message"-->
<!--                                                  class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"-->
<!--                                                  required=""></textarea>-->
<!--                                    </div>-->
<!--                                    <div class="u-form-group u-form-submit">-->
<!--                                        <a href="#"-->
<!--                                           class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-3-base u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-3-base u-none u-radius-25 u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-1">Submit</a>-->
<!--                                        <input type="submit" value="submit" class="u-form-control-hidden">-->
<!--                                    </div>-->
<!--                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has-->
<!--                                        been sent.-->
<!--                                    </div>-->
<!--                                    <div class="u-form-send-error u-form-send-message"> Unable to send your message.-->
<!--                                        Please fix errors then try again.-->
<!--                                    </div>-->
<!--                                    <input type="hidden" value="" name="recaptchaResponse">-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
        <span>HTML Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Design Software</span>
    </a>.
</section>
</body>
</html>