<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/activities.css" media="screen" th:href="@{/css/activities.css}">
    <link href="../static/css/table.css" media="screen" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
    <style type="text/css">
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3, .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }

    </style>
</head>
<body id="page-top">
<header class="u-clearfix u-grey-50 u-header u-header" id="sec-d47d">
    <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <form action="#"
          class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
        <button class="u-search-button" type="submit">
          <span class="u-search-icon u-spacing-10">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 th:href="@{http://www.w3.org/1999/xlink}"
                 version="1.1"
                 id="svg-0092" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                 style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
        </button>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                           preserveAspectRatio="xMidYMin slice"
                                                                                           viewBox="0 0 112 112"
                                                                                           style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8549"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-8549"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                          preserveAspectRatio="xMidYMin slice"
                                                                                          viewBox="0 0 112 112"
                                                                                          style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-31a6"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-31a6"><circle
                fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 112 112"
                                                                                            style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2561"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-2561"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
    </div>
    <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 30px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                     xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                        y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="old-index.html" th:href="@{/}" style="padding: 10px 38px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="contact.html" th:href="@{/contact}" style="padding: 10px 38px;">Contact</a>
                </li>
                <li class="u-nav-item" sec:authorize="!isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/login}" style="padding: 10px 38px;">Login</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('EMPLOYEE')">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/activities}" style="padding: 10px 38px;">Activities</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/profile}" style="padding: 10px 38px;">Profile</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/logout}" style="padding: 10px 38px;">Logout</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="old-index.html"
                                                  style="padding: 10px 38px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                  style="padding: 10px 38px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
<div class="my-container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!--/Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:src="@{/assets/img/profile-avatar.png}" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${currentUser.userCredentials.email}">Email</h4>
                                <br>
                                <a th:href="@{/profile/update}" class="btn btn-primary">Edit
                                    profile</a>
                                <a href="#" sec:authorize="hasRole('CUSTOMER')"
                                   th:href="@{/visits/customer/{email}(email=${currentUser.userCredentials.email})}"
                                   class="btn btn-primary">My Visits</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <!--<ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                            <span class="text-secondary">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                            <span class="text-secondary">@bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>-->
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${currentUser.getFirstName()}">
                                First Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${currentUser.getLastName()}">
                                Last name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${currentUser.userCredentials.email}">
                                Email
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<section class="u-clearfix u-grey-66 u-section-8" id="carousel_9254">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h5 class="u-text u-text-1">Ready to talk?</h5>
                            <h2 class="u-text u-text-2">Contact Us</h2>
                            <p class="u-text u-text-3">Massa tempor nec feugiat nisl pretium fusce id velit.
                                Accumsan
                                tortor posuere ac ut. Aenean pharetra magna ac placerat vestibulum lectus. Praesent
                                semper feugiat nibh sed pulvinar. Lorem sed risus ultricies tristique.&nbsp;<br>
                                <br>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Amet dictum sit
                                amet
                                justo donec enim diam vulputate. Ut morbi tincidunt augue interdum velit euismod in
                                pellentesque. Volutpat lacus laoreet non curabitur.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <div class="u-form u-form-1">
                                <form action="#" method="POST"
                                      class="u-block-b9df-12 u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
                                      source="custom"><!-- hidden inputs for siteId and pageId -->
                                    <div class="u-form-group u-form-name">
                                        <label for="name-f798" class="u-form-control-hidden u-label">Name</label>
                                        <input type="text" placeholder="Enter your Name" id="name-f798" name="name"
                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div><!-- always visible -->
                                    <div class="u-form-email u-form-group">
                                        <label for="email-f798" class="u-form-control-hidden u-label">Email</label>
                                        <input type="email" placeholder="Enter a valid email address"
                                               id="email-f798"
                                               name="email"
                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-f798"
                                               class="u-form-control-hidden u-label">Message</label>
                                        <textarea placeholder="Enter your message" rows="4" cols="50"
                                                  id="message-f798"
                                                  name="message"
                                                  class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                                  required=""></textarea>
                                    </div>
                                    <div class="u-form-group u-form-submit">
                                        <a href="#"
                                           class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-3-base u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-3-base u-none u-radius-25 u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message
                                        has
                                        been sent.
                                    </div>
                                    <div class="u-form-send-error u-form-send-message"> Unable to send your message.
                                        Please fix errors then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
        <span>HTML Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Design Software</span>
    </a>.
</section>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>