<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Visit</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" href="../static/css/single_visit.css" th:href="@{/css/single_visit.css}" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}" defer=""></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png"
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-grey-50 u-header u-header" id="sec-d47d">
    <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <form action="#"
          class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
        <button class="u-search-button" type="submit">
          <span class="u-search-icon u-spacing-10">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 th:href="@{http://www.w3.org/1999/xlink}"
                 version="1.1"
                 id="svg-0092" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                 style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
        </button>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                           preserveAspectRatio="xMidYMin slice"
                                                                                           viewBox="0 0 112 112"
                                                                                           style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8549"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-8549"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                          preserveAspectRatio="xMidYMin slice"
                                                                                          viewBox="0 0 112 112"
                                                                                          style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-31a6"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-31a6"><circle
                fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 112 112"
                                                                                            style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2561"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-2561"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
    </div>
    <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 30px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                     xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                        y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="old-index.html" th:href="@{/}" style="padding: 10px 38px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="contact.html" th:href="@{/contact}" style="padding: 10px 38px;">Contact</a>
                </li>
                <li class="u-nav-item" sec:authorize="!isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/login}" style="padding: 10px 38px;">Login</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('EMPLOYEE')">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/activities}" style="padding: 10px 38px;">Activities</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/profile}" style="padding: 10px 38px;">Profile</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/logout}" style="padding: 10px 38px;">Logout</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="old-index.html"
                                                  style="padding: 10px 38px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                  style="padding: 10px 38px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
<section class="u-clearfix u-section-1" id="sec-41c1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
                <colgroup>
                    <col width="48.5%">
                    <col width="51.5%">
                </colgroup>
                <thead class="u-table-header u-table-header-1">
                <tr style="height: 22px;">
                    <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Client</th>
                    <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">First name
                    </td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.customer.user.firstName}">Description
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Last name
                    </td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.customer.user.lastName}">Description
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Telephone
                        number
                    </td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.customer.user.phone}">Description
                    </td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Email</td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.customer.user.userCredentials.email}">Description
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="u-table u-table-responsive u-table-2">
            <table class="u-table-entity u-table-entity-2">
                <colgroup>
                    <col width="48.5%">
                    <col width="55%">
                </colgroup>
                <thead class="u-table-header u-table-header-2">
                <tr style="height: 22px;">
                    <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Vehicle:
                        <span th:text="${visit.vehicle.vehicleType.name}"></span>
                    </th>
                    <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"></th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">VIN</td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.vin}">Description
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">License
                        plate
                    </td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.licensePlate}">Description
                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Model</td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.getModelAndManufacturer()}">Description
                    </td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Year</td>
                    <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                        th:text="${visit.vehicle.year}">Description
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="u-table u-table-responsive u-table-3">
            <table class="u-table-entity">
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <thead class="u-palette-4-base u-table-header u-table-header-3">
                <tr style="height: 21px;">
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Service</th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell">Price</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr style="height: 75px;" th:each="service : ${services}">
                    <td class="u-border-1 u-border-grey-30 u-first-column u-palette-4-light-3 u-table-cell"
                    th:text="${service.name}">Change Oil
                    </td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"
                    th:text="${service.price}">10</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="u-text u-text-1" >Total Price: <span th:text="${visit.totalPrice}"></span><span th:text="${curr.name}"></span></p>
        <a href="https://nicepage.com/k/auto-mechanic-html-templates"
           th:href="@{/customers/pdf/{id}/{currency}(id=${visit.id}, currency=${curr.name})}"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1"
           data-animation-name="pulse" data-animation-duration="1000" data-animation-delay="0"
           data-animation-direction="">INVOICE</a>
        <div class="u-clearfix u-custom-html u-custom-html-1">
            <style></style>
            <form action="#" th:action="@{/visits/apply/currency/{id}(id=${visit.id})}"
                  th:object="${curr}" method="post">
                <br/><br/>
                <select th:field="*{name}">
                    <option selected value="BGN">BGN</option>
                    <option th:each="currency : ${currencyList}"
                            th:value="${currency}"
                            th:text="${currency}">
                    </option>
                </select>
                <br/><br/>
                <input type="submit" value="Save"/>
            </form>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-66 u-section-8" id="carousel_9254">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h5 class="u-text u-text-1">Ready to talk?</h5>
                            <h2 class="u-text u-text-2">Contact Us</h2>
                            <p class="u-text u-text-3">Massa tempor nec feugiat nisl pretium fusce id velit. Accumsan
                                tortor posuere ac ut. Aenean pharetra magna ac placerat vestibulum lectus. Praesent
                                semper feugiat nibh sed pulvinar. Lorem sed risus ultricies tristique.&nbsp;<br>
                                <br>Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Amet dictum sit amet
                                justo donec enim diam vulputate. Ut morbi tincidunt augue interdum velit euismod in
                                pellentesque. Volutpat lacus laoreet non curabitur.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <div class="u-form u-form-1">
                                <form action="#" method="POST"
                                      class="u-block-b9df-12 u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
                                      source="custom"><!-- hidden inputs for siteId and pageId -->
                                    <div class="u-form-group u-form-name">
                                        <label for="name-f798" class="u-form-control-hidden u-label">Name</label>
                                        <input type="text" placeholder="Enter your Name" id="name-f798" name="name"
                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div><!-- always visible -->
                                    <div class="u-form-email u-form-group">
                                        <label for="email-f798" class="u-form-control-hidden u-label">Email</label>
                                        <input type="email" placeholder="Enter a valid email address" id="email-f798"
                                               name="email"
                                               class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-f798" class="u-form-control-hidden u-label">Message</label>
                                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-f798"
                                                  name="message"
                                                  class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                                  required=""></textarea>
                                    </div>
                                    <div class="u-form-group u-form-submit">
                                        <a href="#"
                                           class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-3-base u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-3-base u-none u-radius-25 u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has
                                        been sent.
                                    </div>
                                    <div class="u-form-send-error u-form-send-message"> Unable to send your message.
                                        Please fix errors then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
    </a>.
</section>
</body>
</html>