<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Visit Services</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
</head>
<body>
<header class="u-clearfix u-grey-50 u-header u-header" id="sec-d47d">
    <div class="u-align-left u-border-1 u-border-grey-15 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <a href="https://nicepage.com" th:href="@{https://nicepage.com}" class="u-image u-logo u-image-1"
       data-image-width="80" data-image-height="40">
        <img src="../static/assets/img/default-logo.png" th:src="@{assets/img/default-logo.png}"
             class="u-logo-image u-logo-image-1" data-image-width="75">
    </a>
    <form action="#"
          class="u-active-palette-1-base u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-hover-palette-1-base u-search u-search-left u-search-1">
        <button class="u-search-button" type="submit">
          <span class="u-search-icon u-spacing-10">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0092"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 th:href="@{http://www.w3.org/1999/xlink}"
                 version="1.1"
                 id="svg-0092" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                 style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
        </button>
        <input class="u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
    <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
                                                                                           preserveAspectRatio="xMidYMin slice"
                                                                                           viewBox="0 0 112 112"
                                                                                           style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8549"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-8549"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
                                                                                          preserveAspectRatio="xMidYMin slice"
                                                                                          viewBox="0 0 112 112"
                                                                                          style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-31a6"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-31a6"><circle
                fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
                class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 112 112"
                                                                                            style=""><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2561"></use></svg><svg class="u-svg-content"
                                                                                                   viewBox="0 0 112 112"
                                                                                                   x="0" y="0"
                                                                                                   id="svg-2561"><circle
                fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
    </div>
    <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#" style="padding: 4px 30px; font-size: calc(1em + 8px);">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                     xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect
                        y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="old-index.html" th:href="@{/}" style="padding: 10px 38px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="#sec-86d9" style="padding: 10px 38px;">About</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        style="padding: 10px 38px;" href="#sec-f12a">Services</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="contact.html" th:href="@{/contact}" style="padding: 10px 38px;">Contact</a>
                </li>
                <li class="u-nav-item" sec:authorize="!isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/login}" style="padding: 10px 38px;">Login</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('EMPLOYEE')">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/activities}" style="padding: 10px 38px;">Activities</a>
                </li>
                <li class="u-nav-item" sec:authorize="isAuthenticated()">
                    <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                       href="contact.html" th:href="@{/logout}" style="padding: 10px 38px;">Logout</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="old-index.html"
                                                  style="padding: 10px 38px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html"
                                                  style="padding: 10px 38px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                  style="padding: 10px 38px;">Services</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact.html"
                                                  style="padding: 10px 38px;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
<section class="u-align-center u-clearfix u-section-1" id="carousel_a3a9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 new-parcel-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">All
            Visits</h1>
        <section class="u-clearfix u-section-1" id="sec-6d23">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity u-table-entity-1">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <thead class="u-table-header u-table-header-1">
                        <tr style="height: 68px;">
                            <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                Name
                            </th>
                            <th class="u-border-2 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                Price
                            </th>
                        </tr>
                        </thead>
                        <tbody class="u-table-body">
                        <tr style="height: 67px;" th:each="service : ${services}">
                            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                                th:text="${service.name}">Change Oil
                            </td>
                            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"
                                th:text="${service.price}">89.80
                            </td>
                            <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                                <a href="https://nicepage.com/c/sports-website-templates"
                                   class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base
                                                                        u-radius-50 u-btn-1"
                                   th:href="@{/customers/pdf/{id}/currency(id=${visit.getId()})}">PDF</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${visitPage.totalPages > 0}" class="pagination" id="element1"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/visits(size=${visitPage.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==visitPage.number + 1} ? ative"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <form action="#" th:action="@{/visits/apply/currency}"
          th:object="${curr}" method="post">
        <br/><br/>
        <select th:field="*{name}">
            <option selected value="-1">BGN</option>
            <option th:each="currency : ${currencyList}"
                    th:value="${currency}"
                    th:text="${currency}">
            </option>
        </select>
        <br/><br/>
        <input type="submit" value="Save"/>
    </form>
</section>
</body>
</html>